<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= gravatar_for user, size:330 %>
      <div class="caption">
        <h3><%= link_to user.name, user %></h3>
        <p class="ellipmodule ellipfade"><%= user.description %></p>
      </div>
    </div>
</div>